.nav {
  display: inline-block;
  padding: 8px 0px;
  margin-bottom: 0px;
  color: white;
  background-color: #000;
  text-align: center;
  width: 100%;
  font-size: 18px;
}

.nav a {
  color: white;
}


body {
  background-color: wheat;
}

.container {
  background-color: white;
  max-width: 300px;
  margin: auto;
  text-align: center;
  border-radius: 10px;
}

.title {
  color: grey;
  font-size: 18px;
  margin-top: -15px;
}

.desc {
  color: grey;
  margin: auto 15px;
}

ul {
  text-align: left;
  color: grey;
}

hr {
  margin-left: 5px;
  margin-right: 5px;
  border: 0.5px solid grey;
}

.footer {
  display: inline-block;
  padding: 8px 0px;
  margin-bottom: 0px;
  color: white;
  background-color: #000;
  text-align: center;
  width: 100%;
  font-size: 18px;
}

button:hover, a:hover {
  opacity: 0.7;
}